.sb-custom {
  cursor: pointer;
  display: inline;
  position: relative;
  width:  100%;
}
.sparkbox-custom {
  display: none;
}
.no-js .sparkbox-custom {
  display: block;
}

.sb-select:focus {
  -webkit-box-shadow: 0 0 4px 2px #79aed7;
     -moz-box-shadow: 0 0 4px 2px #79aed7;
          box-shadow: 0 0 4px 2px #79aed7;
}
.sb-select {
  background: #d3d1be url('../i/select-arrow.jpg') no-repeat 100% 50%;
  border: none;
  color: #444;
  left: 0;
  padding: 5px 30px 5px 5px;
  position: relative;
  text-decoration: none;
  top: 0;
  width: 200px;
  z-index: 1;
}
.sb-dropdown {
  background: white;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5);
     -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5);
          box-shadow: 0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5);
  display: none;
  font-size: .9em;
  left: 5px;
  list-style: none;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: 1.35em;
  width: 200px;
  z-index: 0;
}
.sb-dropdown a {
  color: #444;
  display: block;
  padding: 3px;
  text-decoration: none;
}
.sb-dropdown a:hover,
.sb-dropdown .selected {
  background: #d3d1be;
}