.sb-custom {
  cursor: pointer;
  display: inline;
  float: left;
  position: relative;
  width:  100%;
}
.sb-select:focus {
  -webkit-box-shadow: 0 0 4px 2px #79aed7;
     -moz-box-shadow: 0 0 4px 2px #79aed7;
          box-shadow: 0 0 4px 2px #79aed7;
}
.sb-select {
  background: white url('/i/left-arrow.png') no-repeat 100% 50%;
  border-radius: 5px;
  left: 0;
  padding: 5px 30px 5px 5px;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: 200px;
  z-index: 1;
}
.sb-dropdown {
  background: white;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5);
     -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5);
          box-shadow: 0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5);
  display: none;
  font-size: .8em;
  left: 5px;
  padding: 5px;
  position: relative;
  top: .7em;
  width: 200px;
  z-index: 0;
}
.sb-dropdown .selected {
  background: #ccc;
}
